.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

article.tweets {
  width: 100%;
  margin: auto;
  padding: 0em;
  overflow: hidden;
  border-radius: 5px;
  border-style: double;
  border-color: grey;
  background-color: whitesmoke;
  opacity: 0.6;
}

article .user-info {
  width: 100%;
  background-color: lightgray;
  height: 5em;
}

.tweet-content{
  font-size: 1em;
  padding: 1em;
}

.avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin: 5px;
  border-width: 1px;
  border-style: hidden;
  border-radius: 25px;
}

article.tweets:hover{
  border-color: black;
  opacity: 1;
}

article .name {
  float:left;
  padding: 0.5em 0em;
}

article .handle {
  float: right;
  padding: 0.5em;
}

footer{
  background-color:#E8E8E8;
  display: flex;
  justify-content: space-between;
}

.icons {
  padding: 1em 0.5em;
}

.icons img {
  height:20px;
  width: 20px;
}