
section.new-tweet {
  width: 100%;
  margin: auto;
  border-style: double;
  border-radius: 5px;
  color: blueviolet;
  padding: 1em 2em;
  
}

section.new-tweet h2 {
  border-bottom: 3px solid;
  width: 100%;
  text-align: center;
}

section textarea {
  width: 100%;
  height: 100px;
  margin: auto;
}

section ::placeholder{
  text-align: center;
}

section .counter {
  float: right;
}